<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Этот блог является лишь первой ступенью в моём начинании. Шажок, еще шажок, и еще шажок и вот ты уже уверенно шагаешь по этому бесконечному пути, где нет конца и края.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Забудь всю свою глупость и помни. Ты - это ты, ты делаешь себя таким какой ты есть и только ты.</p>
        </div>
    </body>
</html>